body{
    background-color: black;
    font-size: x-large;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h1{
    color: aquamarine;
}

input{
    width: 500px;
    height: 30px;
    font-size: 15px;
}

button{
    height: 35px;
}

.header{
    padding-bottom: 5%;
}

.removeButton{
    margin-left: 20px;
}